html {
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 3px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-y: hidden;
}
.banner {
    height: 600px;
    background-image: url(../images/background\ image.jpg);
    background-size: cover;
    position: relative;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 200px 100px;
}
p {
    margin: 3px 0;
}
h1 {
    margin: 5px 0;
}
button {
    padding: 5px 5px;
    border: 1px solid #067a87;
    border-radius: 5px;
    color: aqua;
    background: transparent;
    cursor: pointer;
}
.drink {
    margin: 5px;
    padding: 10px;
    display: inline-block;
    color: #d8688e;
    border: 1px solid #067a87;
    border-radius: 5px;
    width: 200px;
}
#filters {
    margin-bottom: 10px;
}

#filters button {
    margin-right: 5px;
}

.hidden {
    display: none;
}